*.egg-info
/.coverage
/build/
/coverage.xml
/dist/
__pycache__/

# Debian build artifacts
.pybuild/
debian/.debhelper/
debian/*.debhelper
debian/*.substvars
debian/files
debian/debhelper-build-stamp
debian/python3-xdg-base-dirs/
